

.page{
display: flex;
flex-direction:column;
justify-content: center;
}
.header{
 display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 25px;
}
.sweet-loading {
    display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 45px;
}
.cards{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin:2px;
width: 100%;
}

h3{
line-height: 1.2;
text-align: center;
font-family: arial,sans-serif;
color: #878787 ;
font-weight: lighter ;
font-size: x-large;
}

.card-details{
text-align: left;
font: 16px arial,helvetica,sans-serif;
color: #878787;
font-weight: lighter;
font-size: medium;
line-height: 22px;
}

.temperature{
text-align: left;
font: 16px arial,helvetica,sans-serif;
color: #212121 ;
font-size: 64px;
display: inline;

}
